body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
}

* {
    box-sizing: border-box;
}

.promise-button--loading,
.link--loading {
    background-color: silver;
    color: gray;
    cursor: wait;
}

.link--active {
    font-weight: bold;
}

.editor {
    &__lines {
        margin: 100px;
    }
    &__line {
        padding: 5px;
        &--selected {
            background-color: antiquewhite;
        }
    }
}

.editor-word {
    padding: 1px 2px;
    border: 1px solid transparent;
    cursor: default;
    &--selected {
        background-color: aliceblue;
        border-radius: 5px;
        border-color: rgba(0, 0, 0, .3);
    }
}

.audio-selection {
    position: absolute;
    top: 0;
    height: 100%;
    &__selection {
        position: absolute;
        top: 0;
        height: 100%;
        background: rgba(106, 100, 255, 0.2);
        mix-blend-mode: lighten;
    }

    &__left-handle,
    &__right-handle {
        width: 20px;
        margin-left: -10px;
        position: absolute;
        mix-blend-mode: lighten;
        top: 0;
        height: 100%;
        cursor: ew-resize;
    }
    &__right-handle {
    }
}

.sound-gram {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    //overflow-x: scroll;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    height: 100px;
    &__inner {
        will-change: transform;
    }
    &__current-time {
        top: 0;
        position: absolute;
        width: 1px;
        background: white;
        height: 100%;
        will-change: transform;
    }

    &__words {
        position: absolute;
        height: 100%;
        left: 0;
    }
    &__word {
        position: absolute;
        bottom: 6px;
        background: rgba(255, 255, 255, 0.2);
        text-align: center;
        color: white;
        font-size: 8px;
    }

    &__lines {
    }
    &__line {
        position: absolute;
        top: 0;
        background: rgba(100, 237, 255, 0.3);
        mix-blend-mode: lighten;
        height: 10px;
        text-align: center;
        font-size: 8px;
        color: white;
    }
}

.next-word {
    margin: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    &__line {
        margin: 10px 0;
        font-size: 14px;
    }

    &__line-ru {
        color: gray;
    }

    &__line-en {
    }

    &__current-line {
        margin-top: 20px;
        font-size: 18px;
    }

    &__current-line-ru {
        color: gray;
    }

    &__current-line-en {
        margin-bottom: 200px;
    }
}
